<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="WolfSellers\Referral\Api\ReferralRepositoryInterface"
                type="WolfSellers\Referral\Model\ReferralRepository" />

    <preference
            for="WolfSellers\Referral\Api\Data\ReferralSearchResultsInterface"
            type="WolfSellers\Referral\Model\Data\ReferralSearchResults" />

    <preference for="WolfSellers\Referral\Api\Data\ReferralInterface"
                type="WolfSellers\Referral\Model\Data\Referral" />
</config>
